.container {
  margin-top: 121.5px; /* Adjust this value according to your needs */
  /* background-color: blue; */
  /* Add additional styling for your new component here */
}

.controlBar {
  position: relative;
  padding: 18px 22.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: 0 auto;
  /* justify-content: space-between; */
  background-color: #faeed1;
}

.action {
  margin: 0 198px;
}

.textboxContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: 0 auto;
}

.textbox {
  padding: 9px;
  margin-right: 9px;
  border: 1.8px solid dodgerblue;
  border-radius: 3.6px;
  width: 180px;
  box-sizing: border-box;
  outline: none;
}

.sortingBars {
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%; /* Set the height of the container to the full viewport height */
  flex-wrap: nowrap;
  margin: 0 auto;
}

/* .bars {
    background-color: #ff7f50;
    margin-left: 10px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    margin: 0 4px;
    padding: 8px; 
    background-color: #3498db;
    color: white;
    border-radius: 4px; 
    font-size: calc(12px + 0.5vw); 
  } */
/* .bars {
    height: 50px;
    width: 50px;
    background-color: #ff7f50;
    margin-left: 4px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
  } */

.bars {
  background-color: #ded0b6;
  border: 0.9px solid #ccc;
  margin: 4.5px;
  padding: 9px;
  min-width: 45px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  font-size: calc(10.8px + 0.45vw);
  border-radius: 9px;
  text-align: center;
}
